:root {
  --color-about-blank: #1a1a1a;
}

@-moz-document url-prefix(about:blank) {
  * {
    background-color: var(--color-about-blank);
  }
}

.netTimeout #errorPageContainer{background-image: url("sonicfoottap.gif") !important;}
html body.illustrated.netTimeout.neterror div#errorPageContainer.container div#text-container div.title h1.title-text{
font-size: 0px !important;}
html body.illustrated.netTimeout.neterror div#errorPageContainer.container div#text-container div.title h1.title-text::before{font-size: 32px !important;content: "You're too slow!" !important;}
html body.illustrated.netTimeout.neterror div#errorPageContainer.container div#text-container div#errorLongContent div#errorShortDesc::before{font-size: 15px;content: "(Actually, it's the server)";}

