/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button { visibility: collapse !important; }

.tabbrowser-tab:not([pinned]):hover .tab-close-button { visibility: visible !important; display: block !important; }



/* Show a number before tab text*/

.tabbrowser-tab:first-child{ counter-reset: nth-tab 0 } /* Change to -1 for 0-indexing */
.tab-text::before{ content: counter(nth-tab) ": "; counter-increment: nth-tab }


#PersonalToolbar{
  --uc-bm-height: 20px; /* Might need to adjust if the toolbar has other buttons */
  --uc-bm-padding: 4px; /* Vertical padding to be applied to bookmarks */
  --uc-autohide-toolbar-delay: 100ms; /* The toolbar is hidden after 0.6s */
}

:root[uidensity="compact"] #PersonalToolbar{ --uc-bm-padding: 1px }
:root[uidensity="touch"] #PersonalToolbar{ --uc-bm-padding: 7px }

#PersonalToolbar:not([customizing]){
  position: relative;
  margin-bottom: calc(0px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
  z-index: 3 !important; /* Increased z-index */
}

/* Ensure bookmark toolbar appears above content */
#main-window:not([customizing]) #navigator-toolbox {
  position: relative;
  z-index: 4 !important;
}

#PlacesToolbarItems > .bookmark-item{ padding-block: var(--uc-bm-padding) !important; }

/* AUTOHIDE BOOKMARKS TOOLBAR BEHAVIOR */

/* Show when urlbar is focused */
#nav-bar:focus-within + #PersonalToolbar{
  transition-delay: 1ms !important;
  transform: rotateX(0);
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover > #PersonalToolbar{
  transition-delay: 1ms !important;
  transform: rotateX(0);
}



/* Show tabs toolbar with Alt-key. Menubar must be disabled for this to work */

/* Hide tabs when menubar is inactive and not hovered */
#toolbar-menubar[autohide="true"][inactive="true"] + #TabsToolbar {
  visibility: collapse !important;
}

/* Keep the window controls positions when alt-key */
#toolbar-menubar:hover {
  height: calc(
    var(--tab-min-height) + var(--space-above-tabbar) -
      var(--tabs-navbar-shadow-size)
  ) !important;
}

/* Adjust maximized window padding */
:root[tabsintitlebar][sizemode="maximized"] {
  padding-top: 0px !important;
}
